
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,210,47,1) 100%);
    
}


.logoNav{
    width: 150px;
    height: 120px;
    float: left;
    padding: 0px;
}

.carrNav{
    width: 70px;
    height: 40px;
    float: left;
    padding: 0px;
}